* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Outfit;
}


section {
    display: inline-block;
    text-align: center;
    width: 50%;
    height: 100vh;
    float: left;
    vertical-align: top;
    
}

section + section {
    float: right;
}

.first {
    padding-top: 100px;
    background-color: rgb(250, 250, 250);
    position: relative;
}

h1 {
    font-size: 50px;
}

#email, #password {
    width: 80%;
    height: 50px;
    padding-left: 10px;
    margin: 15px auto;
    border: none;
    background-color: rgb(238, 238, 238);
    font-size: 16px;
    color: grey;
}

label, .password {
    display: inline-block;
    margin-top: 20px;
    color: grey;
    font-size: 20px;
}

label {
    float: left;
    padding-left: 60px;
}

.password {
    float: right;
    padding-right: 60px;
}

.login {
    width: 80%;
    height: 50px;
    margin: 50px auto;
    border: none;
    background-color: rgb(143, 49, 170);
    font-size: 20px;
    color: white;
    
}

.container {
    text-align: center;
    color: grey;
  }
  
  .line, .text {
    display: inline-block;
    vertical-align: middle;
  }
  
  .line {
    width: 22%;
    height: 1px;
    background-color: grey;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .text {
    font-size: 24px;
  }

  .icons i{
    margin-top: 20px;
    padding: 18px;
    font-size: 2em;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    color: grey;
  }

  .second {
    background: linear-gradient(to bottom, rgb(42, 34, 56), rgb(11, 40, 133));
  }

  .fa-user-plus {
    font-size: 6em;
    padding-top: 200px;
    color: white;
  }

  .second h1 {
    color: white;
  }

  .enter {
    font-size: 24px;
    color: white;
  }
  
.register > * {
     display: inline-block;
     vertical-align: middle;
     color: white;
     font-size: 24px;
     font-weight: bold;
}

.register {
    display: table;
    width: 40%;
    height: 60px;
    border-radius: 50px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid white;
    color: white;
}

.register i {
    font-size: 2rem;
    padding: 0 10px;
}

.arrow{
    background-color: rgb(29, 37, 91);
    border-radius: 50px;
    border: none;
    width: 55px;
    height: 55px;
}