.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
  }

  .quote-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 50%;
    height: 220px;
  }
  
  .quote-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .quote-author {
    font-size: 18px;
    font-style: italic;
  }
  
  .quote-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  